<div class="core-layout">
  <header>
    <mat-toolbar class="core-header">
      <span>Studyproof</span>
    </mat-toolbar>

  </header>

  <mat-sidenav-container class="core-sidenav-container">
    <mat-sidenav *ngIf="userIsLogged()" #sidenav mode="side" opened class="core-sidenav"
                 [fixedInViewport]="true" [fixedTopGap]="40"
                 [fixedBottomGap]="0">
      <button mat-button (click)="toggleClass()" class="toggle-button"><mat-icon>menu</mat-icon>Collapse sidebar</button>

      <mat-nav-list class="core-nav-list">
        <button mat-button color="primary" [routerLink]="['/tasks/creator']">Добавить новое задание</button>
        <button mat-button  [routerLink]="['/users']">Users</button>
        <button mat-button  [routerLink]="['/tasks']">Task manager</button>
        <button mat-button>Third</button>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

<!--<footer class="footer"><div><h3>Footer</h3></div></footer>-->
